.deviceList {
    list-style-type: none;
    padding: 0;
}

.deviceItem {
    margin: 10px 0;
}

.radioInput {
    height: 1em;
    width: 1em;
    background-color: #ccc;
}

.radioInput:checked {
    background-color: #4CAF50;
}
